
#bb{
  position:relative;
  width:300px;
  height:400px;
  margin:40px auto;
}


.balloon{
  position:absolute;
  left:0px;
  width:100px;
  height:130px;
  background:#FFA500;
  border-radius:50%;
  box-shadow:inset -20px -20px 20px #cc8400;
  opacity:0.9;
  -webkit-animation:float 5s ease-in-out infinite;
 
}

.balloon:before{
  content:"";
  position:absolute;
  top:130px;
  left:40px;
  width:0px;
  height:0px;
  border-left:10px solid transparent;
  border-right:10px solid transparent;
  border-bottom:10px solid #cc8400;
}

.balloon:after{
  content:"";
  position:absolute;
  left:50px;
  top:135px;
  width:1px;
  height:100px;
  background:rgba(33,33,33,0.6);
}



@-webkit-keyframes float{
  0%,100%{
    -webkit-transform: translateY(0px) rotate(3deg);
  }
  50%{
    -webkit-transform: translateY(-25px) rotate(-5deg);
  }

}
